my tasks

<h1>Tasks</h1>
<% if @tasks %>
	<div id="tasklist">
	    <% @tasks.each do |t| %>
	    <ul>
	      <li>Name: <%= t.name %></li>
	      <li>Offer: <%= t.offer %></li>
	      <li>Location_name: <%= t.location_name %></li>
	    </ul>
	    <% end %>               
	  </div>
<% end %>