<h1>Task</h1>
<p>Name: <span>@task.name</span></p>
<p>Category: <span>@task.category</span></p>
<p>Location name: <span>@task.location_name</span></p>
<p>Description: <span>@task.description</span></p>
<p>Offer: <span>@task.offer</span></p>
<p>Expiration: <span>@task.expiration</span></p>

category
location
location_name
lattitude
longitude
description
photo_url
offer
expiration